{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended",
    "stylelint-config-recommended-scss",
    "stylelint-config-property-sort-order-smacss",
    "stylelint-prettier/recommended"
  ],
  "customSyntax": "postcss-scss",
  "plugins": ["stylelint-prettier"],
  "rules": {
    "prettier/prettier": true,
    "selector-pseudo-element-no-unknown": true
  }
}
