$disabled-console-color: #2a2a2a;

.console-window {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  font-size: 18px;
}

.console-header {
  border: 1px solid white;
  user-select: none;

  h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: white;
    color: black;
    text-align: center;
  }
}

.console-content {
  padding: 15px;
}

.tab-container {
  ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
  }

  .tab {
    display: inline-block;
    height: 25px;
    padding: 5px 10px;
    border: 1px solid gray;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
  }

  .tab-selected {
    background-color: $disabled-console-color;
  }

  li:hover {
    background-color: grey;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.disabled {
  background-color: $disabled-console-color;
  cursor: default;
}
