@import '../../styles/colors';

.text {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.color-blue {
  color: $light-blue-color;
}

.color-pink {
  color: $pink-color;
}

.color-yellow {
  color: $yellow-color;
}

.button {
  width: fit-content;
  height: fit-content;
  margin: 0 10px 0 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $white-color;

  &:disabled {
    color: $gray-color;

    .color-blue,
    .color-pink,
    .color-yellow {
      color: $gray-color;
      cursor: auto;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
