@import '../../styles/colors';

.type-confirm {
  color: $aquamarine-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.type-cancel {
  color: $watermelon-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  width: fit-content;
  height: fit-content;
  margin: 0 10px 0 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $white-color;

  &:disabled {
    color: $gray-color;

    .type-confirm,
    .type-cancel {
      color: $gray-color;
      cursor: auto;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
