//BLACK-WHITE COLORS
$white-color: #fff;
$light-gray-color: #98969b;
$gray-color: #69676c;
$dark-gray-color: #525053;
$light-black-gray-color: #222;
$black-gray-color: #191919;
$light-black-color: #131313;

//COLORFUL COLORS
$green-color: #5e8f2d;
$pink-color: #ff6188;
$light-blue-color: #78dce8;
$yellow-color: #fce566;

//SVG COLORS
:export {
  grayColor: $gray-color;
  lightGrayColor: $light-gray-color;
  yellowColor: $yellow-color;
  greenColor: $green-color;
  pinkColor: $pink-color;
  blackGrayColor: $black-gray-color;
}
