::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(128 128 128 / 40%);

  &:hover {
    background-color: rgb(128 128 128 / 80%);
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
