@import '../../styles/colors';

.main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $light-black-gray-color;
  background-image: url('../../assets/images/placeholder.svg');
  background-repeat: no-repeat;
  background-position: center;
}
