@import '../../styles/colors';

.main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $light-black-gray-color;

  & > div {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
  }
}
