@import './styles/colors';

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 18px;
}

body {
  max-height: 100vh;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100vh;
  background-color: $night-color;
}

.main {
  display: flex;
  height: 100%;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
}
